@import "tailwindcss";

@theme {
  --color-primary: #1f1616;
  --color-secondary: #a39f9f;
  --color-accent: #ed4a26;
  --color-read: #fcfafa;
}
body {
  font-family: "Prompt", Arial, Helvetica, sans-serif;
}
